<!DOCTYPE html>
<html>
<head>
  <title>PokemonApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
   

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCbg9oJGpPUHeEZOyVn3ut7O4UjqouM_8k&libraries=places" %>
</head>
<body>
  <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
  </main>
</body>
</html>
